* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color: #696969;
    --white-color: #fff;
    --black-color: #000;
    --border-color: #a1a8b1;
    --hover-color: #087cce;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: var(--font-color);
    margin: 8px;
}